    dir source
        dir types
            class service
            class controller
            class database
            class router
            index

        dir services
            service requestValidator

        dir controller
            dir user
                ctr signup
                ctr signin
                ctr signout
                ctr profile
                ctr statistic
                ctr deleteProfile
                index

            dir game
                ctr registerGame
                ctr gameStatistic
                ctr subscribe
                ctr gameData
                index

            index

        dir middleware
            mdlware admin_auth
            mdlware user_auth
            index

        dir routes
            dir user
                route signup
                route singin/?userId
                route signout/?userId
                route profile/?userId
                route statistic/?userId
                route deleteProfile/?userId

            dir game
                route registerGame
                route gameStatistic/?gameId
                route subscribe/?gameId/?userId
                route gameData/?gameId

            dir 

        dir model

        dir games
            prj minesweeper
                dir types
                    class database
                    class grid
                    class field
                    class board
                        method getNewBoard
                        method saveBoard

                    class stack
                    class queue

            prj soduku

        file app
